{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}
    <style>
        .parallax-container.presentation {
            height: 1000px;
        }
    </style>


    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Vignes & Gourmandises</h1>
            <div class="row center">
                <h5 class="header col s12 light">{{ num_tel }}</h5>
            </div>
            <div class="row center">
                <a href="#scroll_1"
                   class="btn-large waves-effect waves-light teal lighten-1">En savoir plus</a>
            </div>
            <br><br>

        </div>
    </div>
    {% comment %}<div class="parallax"><img src="{% static 'website/img/photoBoutiqueExt.JPG' %}"
                                   alt="Unsplashed background img 1">
        </div>{% endcomment %}

    {% comment %}<div class="carousel carousel-slider front">
        {% for image in images %}
            <a class="carousel-item" href="#!"><img src="{{ image.image.url }}"></a>
        {% endfor %}
    </div>{% endcomment %}
    <div class="row" id="scroll_1">
        {% for card in cards %}
            <div class="parallax-container presentation valign-wrapper">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="row center">
                            <h1 class="header center teal-text text-lighten-2">
                                {{ card.nom }}
                            </h1>
                        </div>
                        <div class="row center">
                            <h5 class="header col s12 light teal-text text-lighten-2">
                                {{ card.desc }}
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="parallax">
                    <img src="{{ card.image.url }}"
                         alt="Unsplashed background img 3">
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/nuIFlYBFM_Y?rel=0"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>



    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'website/img/boutique2.JPG' %}" alt="Unsplashed background img 3">
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large social facebook"
           href="https://www.facebook.com/VignesGourmandises-1436371816674477/">
            <i class="fa fa-facebook"></i>
        </a>
    </div>

{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'website/js/scroller.js' %}"></script>
    <script src="{% static 'website/js/init.js' %}"></script>
{% endblock %}
