{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Vignes & Gourmandises</h1>
                <div class="row center">
                    <h5 class="header col s12 light">02 99 50 82 16</h5>
                </div>
                <div class="row center">
                    <a href="#scroll_1"
                       class="btn-large waves-effect waves-light teal lighten-1">En savoir plus</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{% static 'website/img/photoBoutiqueExt.JPG' %}"
                                   alt="Unsplashed background img 1">
        </div>
    </div>


    <div class="container">
        <div class="section">
            <div class="row" id="scroll_1">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'website/img/christophe_mouriec.png' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Le propriétaire<i
                                    class="material-icons right">more_vert</i></span>
                            {% comment %}<p><a href="#" class="activator">En savoir plus</a></p>{% endcomment %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Le propriétaire<i
                                    class="material-icons right">close</i></span>
                            <p>Passionné de vins et de gastronomie et aujourd'hui caviste à Laillé
                                je vous propose de
                                découvrir ma gamme de produits épicerie fine ainsi que les vins.
                                Toutes ces références
                                font partie d'une sélection rigoureuse..</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'website/img/boutique3.JPG' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">La boutique Alcool<i
                                    class="material-icons right">more_vert</i></span>
                            {% comment %}<p><a href="#" class="activator">En savoir plus</a></p>{% endcomment %}
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only
                                revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'website/img/gourmandise.JPG' %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">La boutique Gourmandise<i
                                    class="material-icons right">more_vert</i></span>
                            {% comment %}<p><a href="#" class="activator">En savoir plus</a></p>{% endcomment %}
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only
                                revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/nuIFlYBFM_Y?rel=0" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'website/img/boutique2.JPG' %}"
                                   alt="Unsplashed background img 3">
        </div>
    </div>

{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'website/js/scroller.js' %}"></script>
    <script src="{% static 'website/js/init.js' %}"></script>
{% endblock %}
