{% extends 'base.html' %}
{% load static %}
{% block title %}Sms{% endblock %}
{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <form action="{% url 'sms_envoie' %}" method="post">
                    <label><input checked type="radio" name="isAll"
                                  id="allButton" value="True"/><span>Envoyer à tous</span></label>
                    <hr/>
                    <label><input type="radio" name="isAll"
                                  id="notAllButton"
                                  value="False"/><span>Envoyer à certain</span></label>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <label for="textarea1">Message</label>
                    <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
                    <br/>
                    <input type="submit" class="btn"/>
                </form>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Tableur Excel
                        </div>
                        <div class="collapsible-body">
                            <span>
                            <form action="{% url 'sms_excel' %}" method="post"
                                  enctype="multipart/form-data">
                    {% csrf_token %}
                                <label for="textarea1">Message</label>
                    <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
                    <input type="file" name="tableur"/>
                    <input type="submit" class="btn red" value="Valider Tableur"/>
                </form>
                        </span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'sms/js/init.js' %}"></script>
    <script src="{% static 'sms/js/UI.js' %}"></script>
{% endblock %}
