{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}
    <h3>Ajout produits : </h3><br/><br/>
    {% for produit in liste_produit %}
        {{ produit.nom }}<br/>
        {{ produit.prix }}<br/>
        <button id="bouton_panier" value="{{ produit.id }}">Ajouter au panier</button>
        <hr/>
    {% endfor %}
    <br/>
    <a href="{% url 'magasinPanier' %}">Panier !</a>
{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'magasin/js/panier.js' %}"></script>
{% endblock %}








