{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                {% for produit in user_cart_final %}
                    <div class="row">
                        <div class="col m2">
                            <img class="responsive-img z-depth-2"
                                 src="{{ produit.0.photo.url }}">
                        </div>
                        <div class="col m3">
                            <b style="font-size: large"
                               class="blue-text text-darken-3">{{ produit.0.nom }}</b><br/>
                            quantité : {{ produit.1 }}
                            <br/><br/><br/>
                            <button id="bouton_panier_supr" value="{{ produit.0.id }}"
                                    class="btn red btn-small">Supprimer du
                                panier
                            </button>
                        </div>
                        <div class="col m3">
                            <br/><br/>
                            <b style="font-size: large" class="red-text text-darken-4">prix
                                unitaire
                                : {{ produit.0.prix|stringformat:"2.2f" }}<br/></b>
                            <b style="font-size: x-large" class="red-text text-darken-4">total
                                : {{ produit.2|stringformat:"2.2f" }}<br/></b>
                        </div>
                        <div class="col m3">
                            <br/><br/>
                            {% if produit.1 > produit.0.stock %}
                                <u><b style="font-size: large" class="red-text text-darken-4">/!\
                                    Attention, le stock de
                                    ce produit ({{ produit.0.stock }}) est inferieur à la
                                    quantité
                                    demandée
                                    ({{ produit.1 }}).</b></u>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>
                {% empty %}
                    Pas de produit
                {% endfor %}
                <br/>
                <br/>
                <form action="{% url 'resumeCommande' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" name="envoie"/>
                            <span>à retirer en magasin (pas de frais de port)</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" name="panier"/>
                            <span>Panier garni (5€)</span>
                        </label>
                    </p>
                    {% if sous_stock %}
                        {% if user_cart_final %}
                            <input type="submit" class="btn green disabled" value="passer commande">
                        {% endif %}
                    {% else %}
                        {% if user_cart_final %}
                            <input type="submit" class="btn green" value="passer commande">
                        {% endif %}
                    {% endif %}
                    <button id="bouton_panier_reset" class="btn red">Reset panier</button>
                    <br/>
                </form>
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'magasin/js/panier.js' %}"></script>
{% endblock %}
