{% extends 'base.html' %}
{% load static %}
{% block title %}Payement Ok !{% endblock %}
{% block contenu %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h1>Le payement à été valider !</h1>
                <a href="{% url 'website_home' %}">
                    <button class="btn green center">retour à l'acceuil</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_addon %}
{% endblock %}