{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}


    <ul id="slide-out-filter" class="sidenav sidenav-filter sidenav-fixed hide-on-med-and-up">
        <div class="container">
            <form action="{% url 'magasinHome' id_cat_produit %}" method="POST">
                {% csrf_token %}
                <li>
                <u>sous categorie :</u> <br/>
                    <select name="filtre_sous_cat">
                        <option value="-1">tout</option>
                        {% for sous_cat in sous_categorie_liste %}
                            <option value="{{ sous_cat.id }}">{{ sous_cat.nom }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                <u>marque :</u> <br/>
                    <select name="filtre_marque">
                        <option value="-1">tout</option>
                        {% for marque in marque_liste %}
                            <option value="{{ marque.id }}">{{ marque.nom }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <u>prix max :</u> <br/>
                    <div>
                        <input type="number" id="test5" min="0" max="100" value="100" name="filtre_prix"/>
                    </div>
                </li>
                <li>
                    <input type="submit" class="btn" value="appliquer filtres"/>
                </li>
            </form>
        </div>
    </ul>



    <div class="container">

        <div class="fixed-action-btn hide-on-med-and-up">
            <a class="btn-floating btn-large red sidenav-trigger" href="#" data-target="slide-out-filter">
                <i class="large material-icons">sort</i>
            </a>
        </div>

        <div class="row">
            <div class="col m9">
                {% for ligne_produit in liste_produit %}
                    <div class="row hide-on-medium-and-down">
                        {% for produit in ligne_produit %}
                            <div class="col m4 ">
                                <div class="card">
                                    <div class="card-image">
                                        <img class="activator"
                                             src="{% static 'img/6-bouteilles-75cl-Chinien-Bergeron-dont-2-offertes0.JPG' %}">
                                    </div>
                                    <div class="card-content">
                                        {{ produit.nom }}
                                        <hr/>
                                        {{ produit.prix|stringformat:"2.2f" }} €
                                    </div>
                                    <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ produit.nom }}<i
                                        class="material-icons right">close</i></span>
                                        <p>Here is some more information about this product that is
                                            only revealed once clicked
                                            on.</p>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn" id="bouton_panier" value="{{ produit.id }}">Ajouter au
                                            panier
                                        </button>
                                        <button class="activator btn green ">plus</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col m3 hide-on-small-and-down">
                <form action="{% url 'magasinHome' id_cat_produit %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col m12">
                            <div class="card lighten-3">
                                <div class="card-content">
                                    <span class="card-title">Sous Categories</span>
                                    <hr/>
                                    <select name="filtre_sous_cat">
                                        <option value="-1">tout</option>
                                        {% for sous_cat in sous_categorie_liste %}
                                            <option value="{{ sous_cat.id }}">{{ sous_cat.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Marque</span>
                                    <hr/>
                                    <select name="filtre_marque">
                                        <option value="-1">tout</option>
                                        {% for marque in marque_liste %}
                                            <option value="{{ marque.id }}">{{ marque.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Prix Maximum</span>
                                    <hr/>
                                    <input type="range" min="0" max="100" value="100" name="filtre_prix"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <input type="submit" class="btn" value="appliquer filtres"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'magasin/js/panier.js' %}"></script>
    <script src="{% static 'magasin/js/toast.js' %}"></script>
    <script src="{% static 'magasin/js/init.js' %}"></script>
{% endblock %}








