{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block contenu %}
    <div class="container">
        <h3>Ajout produits : </h3><br/><br/>
    {% for ligne_produit in liste_produit %}
        <div class="row">
            {% for produit in ligne_produit %}
                <div class="col m3 hide-on-med-and-down">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/6-bouteilles-75cl-Chinien-Bergeron-dont-2-offertes0.JPG' %}">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            nom : {{ produit.nom }}
                            <hr/>
                            prix : {{ produit.prix }}
                        </div>
                        <div class="card-action">
                            <button id="bouton_panier" value="{{ produit.id }}">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col s6 hide-on-large-only hide-on-extra-large-only">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/6-bouteilles-75cl-Chinien-Bergeron-dont-2-offertes0.JPG' %}">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content" style="font-size: x-small">
                            nom : {{ produit.nom }}
                            <hr/>
                            prix : {{ produit.prix }}
                        </div>
                        <div class="card-action">
                            <button id="bouton_panier" value="{{ produit.id }}">Ajouter au panier</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block javascript_addon %}
    <script src="{% static 'magasin/js/panier.js' %}"></script>
{% endblock %}








