{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Vignes & Gourmandises - {% block title %}{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>

    {% comment %}<style>
        [class*="col"], footer {
            background-color: lightgreen;
            border: 2px solid black;
            border-radius: 6px;
        }

        [class*="row"], footer {
            background-color: blue;
            border: 2px solid black;
            border-radius: 6px;
        }
    </style>{% endcomment %}
</head>
<body>
<nav style="margin-bottom: 10px">
    <div class="nav-wrapper red darken-2">
        <a href="#!" class="brand-logo white-text hide-on-med-and-down">Vignes & gourmandises</a>
        <a href="#!"
           class="brand-logo white-text hide-on-large-only hide-on-extra-large-only"
           style="font-size: medium">Vignes & gourmandises</a>


        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
        <ul class="right hide-on-large-only hide-on-extra-large-only">
            <li><a href="{% url 'magasinPanier' %}"><span class="new badge" data-badge-caption="Produits"
                                                          id="nb_prod_mobile">
                {{ request.session.total | default:0 }}
            </span></a></li>
        </ul>
        <ul class="right hide-on-med-and-down ">
            <li><a href="{% url 'website_home' %}" class="white-text red darken-3">Acceuil</a></li>
            <li><a href="badges.html" class="white-text">Evenement</a></li>

            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger white-text red darken-3" href="#!"
                   data-target="dropdown_classic">Boutique<i
                    class="material-icons right">arrow_drop_down</i></a>
            </li>
            {% if user.is_authenticated %}
                <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown_cart">Panier :
                    <span id="nb_prod">{{ request.session.total | default:0 }}</span><i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{% url 'website_deco' %}" class="white-text red darken-3">deconnexion</a></li>
            {% else %}
                <li><a href="{% url 'website_login' %}" class="white-text">Connexion</a></li>
                <li><a href="{% url 'website_inscription' %}" class="white-text red darken-3">Enregistrement</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li><a href="{% url 'website_home' %}">Acceuil</a></li>
    <li><a href="#!">Evenement</a></li>
    <li class="no-padding">
        <ul class="collapsible collapse-toggle">
            <li>
                <a class="collapsible-header">Boutique<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul id="dropdown_mobile">
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown_classic" class='dropdown-content'>
</ul>

<ul id='dropdown_cart' class='dropdown-content'>
    <li><a href="{% url 'magasinPanier' %}">Voir</a></li>
</ul>

{% block contenu %}{% endblock %}

<footer class="page-footer teal" style="margin-top: 10px">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="col l3 s12">
                    <h5 class="white-text">Information</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Bruh 1</a></li>
                        <li><a class="white-text" href="#!">Bruh 2</a></li>
                        <li><a class="white-text" href="#!">Bruh 3</a></li>
                        <li><a class="white-text" href="#!">Bruh 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://vn.ezo2.eu">Awen lelu</a>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/categorie_dropdown.js' %}"></script>
<script>
    $.get('/ajax/call_checker', {}, function (data) {
    })
</script>

<!-- Modaux -->
{% if statut == 'sucess' %}
    <script>
        $(document).ready(function () {
            $('#sucess').modal('open');
        });
    </script>
    <div id="sucess" class="modal">
        <div class="modal-content">
            <h4>Félicitation</h4>
            <p>Votre compte à bien été créer</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok !</a>
        </div>
    </div>
{% endif %}

<!-- Modaux -->
{% if statut == 'error' %}
    <script>
        $(document).ready(function () {
            $('#error').modal('open');
        });
    </script>
    <div id="error" class="modal">
        <div class="modal-content">
            <h4>Un problème est survenu !</h4>
            {% for message in error %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok !</a>
        </div>
    </div>
{% endif %}

{% block javascript_addon %}{% endblock %}

</body>
</html>
