{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Vignes & Gourmandises - {% block title %}{% endblock %}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>

    <style>

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper red darken-2">
        <a href="#!" class="brand-logo white-text">Vignes & gourmandises</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'website_home' %}" class="white-text red darken-3">Acceuil</a></li>
            <li><a href="badges.html" class="white-text">Evenement</a></li>

            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger white-text red darken-3" href="#!"
                   data-target="dropdown1">Boutique<i
                    class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown_cart">Panier
                : <span id="nb_prod">{{ request.session.total | default:0 }}</span><i
                        class="material-icons right">arrow_drop_down</i></a>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
</ul>

<ul id='dropdown_cart' class='dropdown-content'>
    <li><a href="{% url 'magasinPanier' %}">Voir</a></li>
</ul>

{% block contenu %}{% endblock %}

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="col l3 s12">
                    <h5 class="white-text">Information</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Bruh 1</a></li>
                        <li><a class="white-text" href="#!">Bruh 2</a></li>
                        <li><a class="white-text" href="#!">Bruh 3</a></li>
                        <li><a class="white-text" href="#!">Bruh 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://vn.ezo2.eu">Awen lelu</a>
            </div>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/categorie_dropdown.js' %}"></script>
{% block javascript_addon %}{% endblock %}

</body>
</html>
